# Includes

In [6]:
from glob import glob

import pandas as pd

# Load raw dot files

In [8]:
df_dot = pd.concat(pd.read_csv(filename) for filename in glob("/home/tass/database/app_in_the_air/demand_predictions/dot_raw/dot_seats_distance_*.zip"))

In [9]:
df_dot.head(2).T

                                   0                1
SEATS                            0.0              0.0
PASSENGERS                       0.0              0.0
DISTANCE                      3417.0           3110.0
UNIQUE_CARRIER                   KAQ              KAQ
UNIQUE_CARRIER_NAME  Kalitta Air LLC  Kalitta Air LLC
ORIGIN_AIRPORT_ID              10299            10299
ORIGIN                           ANC              ANC
ORIGIN_CITY_NAME       Anchorage, AK    Anchorage, AK
DEST_AIRPORT_ID                10397            11193
DEST                             ATL              CVG
DEST_CITY_NAME           Atlanta, GA   Cincinnati, OH
AIRCRAFT_TYPE                    817              817
YEAR                            2015             2015
MONTH                              2                2

# Load demographic data

In [10]:
df_population = pd.read_csv("/home/tass/database/app_in_the_air/demand_predictions/dot_raw/UNdata_Export_20220412_221849008.csv")

/mnt/envs/env38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
# Generate static features

* static features:
  * distance between cities
  * demographics data: city population in 2020

# TODO: add description of data, their licenses